<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="at-form">

                <div class="title">
                    <h3>Reset your password</h3>
                </div>
                <div ng-show="rpc.error">
                    {{ rpc.error }}
                </div>
                <div class="at-pwd-form">
                    <form role="form" id="at-pwd-form" novalidate="">
                        <fieldset>
                            <div class="at-input form-group has-feedback">
                                <label class="control-label" for="rp-email">
                                    Email
                                </label>
                                <input type="email" class="form-control" id="rp-email" name="email" ng-model="rpc.credentials.email"
                                       placeholder="Email" autocapitalize="none" autocorrect="off">

                                <span class="help-block hide"></span>
                            </div>

                            <button type="submit" ng-click="rpc.reset()" class="at-btn submit btn btn-lg btn-block btn-default" id="at-btn">
                                Email Reset Link
                            </button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>