<div class="container">

    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
            <img class="media-object img-thumbnail" src="/cfs/files/images/T24G8XorBL2ER8xHW" alt="{{group.name}}">
        </div>
        <div class="col-md-10 col-xs-12"><h3>{{group.name}}</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default event-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-10 cursor-pointer" data-toggle="collapse" data-parent="#accordion"
                                 data-target="#event" aria-expanded="false" aria-controls="collapseEvent">
                                <div class="col-xs-6 col-sm-4">
                                    <h4 class="panel-title">
                                        Next event
                                    </h4></div>
                                <div class="col-sm-4 hidden-xs" title="Confirmed/total users">2/3</div>
                                <div class="col-xs-6 col-sm-4" title="Total order amount"><span
                                        class="pull-right">100.23</span></div>
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#addEventModal">Create Event
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="event" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingEvent">
                        <ul class="list-group">
                            <!--<li ng-repeat="user in event.users" class="list-group-item">-->
                            <li class="list-group-item" ng-repeat="user in event.users">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4"><h4>{{user.email}}</h4></div>
                                    <div class="col-sm-5 hidden-xs">
                                        <p ng-repeat="item in user.items">{{item.name}}:{{item.price}}</p>
                                    </div>
                                    <div class="col-sm-3"><h5 class="pull-right">{{user.total}}</h5></div>
                                </div>
                            </li>
                            <li class="list-group-item" ng-repeat="cuser in event.confirm_users">
                                <div class="row">
                                    <div class="col-xs-7"><h4>{{cuser.email}}</h4></div>
                                    <div class="col-xs-5">
                                        <div class="pull-right">
                                            <a class="btn btn-info disabled">
                                                <span class="glyphicon glyphicon-envelope visible-xs"></span><span
                                                    class="hidden-xs">Send reminder</span></a>
                                            <a class="btn btn-danger disabled" title="Remove from event">
                                                <span class="glyphicon glyphicon-remove visible-xs"></span><span
                                                    class="hidden-xs">Remove</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- event-panel end -->

                <div class="panel panel-default order-panel" ng-show="order">
                    <div class="panel-heading cursor-pointer" data-toggle="collapse" data-parent="#accordion"
                         data-target="#order" aria-expanded="false" aria-controls="collapseOrder">
                        <div class="row">
                            <div class="col-xs-10 cursor-pointer" data-toggle="collapse" data-parent="#accordion"
                                 data-target="#order" aria-expanded="false" aria-controls="collapseEvent">
                                <div class="col-xs-6 col-sm-4">
                                    <h4 class="panel-title">
                                        Order
                                    </h4></div>
                                <div class="col-xs-6 col-sm-4" title="Total order amount"><span
                                        class="pull-right">{{order.total}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div id="order" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="collapseOrder">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in order.items">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">{{item.name}}</div>
                                    <div class="col-xs-2 col-sm-1">
                                        <input class="form-control" ng-model="item.count"
                                               ng-change="updateDishOrder(item, order)" title="Count to order">
                                    </div>
                                    <div class="col-xs-4 col-sm-2"><span class="full-price" ng-if="item.full_price">{{item.full_price}}/</span>
                                        {{item.price}}
                                    </div>
                                    <div class="col-xs-4 col-sm-3">{{item.total}}</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 pull-right">
                                        <button class="btn btn-primary" ng-click="confirmOrder(order)">Confirm</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- order-panel end -->

                <div class="panel panel-default menu-panel">
                    <div class="panel-heading" id="headingMenu">
                        <div class="row">
                            <div class="col-xs-11 cursor-pointer" data-toggle="collapse" data-parent="#accordion"
                                 data-target="#menu" aria-expanded="false" aria-controls="collapseMenu">
                                <h4 class="panel-title">
                                    Menu
                                </h4>
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#addDishModal">Add Dish
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="menu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMenu">
                        <ul class="media-list list-group">
                            <li ng-repeat="dish in dishes" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-3">
                                        <img class="img-thumbnail img-responsive"
                                             ng-src="{{dish.image.url()}}" alt="{{dish.name}}">
                                    </div>

                                    <div class="col-xs-8 col-sm-6">
                                        <h4>
                                            {{dish.name}}<span class="badge pull-right">{{dish.price | currency}}</span>
                                        </h4>
                                    </div>

                                    <div class="col-xs-6 col-sm-3">
                                        <div class="pull-right">
                                            <button class="btn btn-primary" ng-show="current_event._id"
                                                    ng-click="orderDish(dish)">Order
                                            </button>
                                            <a class="btn btn-info disabled">
                                                <span class="glyphicon glyphicon-edit visible-xs"></span><span
                                                    class="hidden-xs">Edit</span></a>
                                            <a class="btn btn-danger" ng-click="removeDish(dish)">
                                                <span class="glyphicon glyphicon-remove visible-xs"></span><span
                                                    class="hidden-xs">Remove</span></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">{{dish.description}}</div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div><!-- menu-panel end -->

                <div class="panel panel-default users-panel">
                    <div class="panel-heading cursor-pointer" role="tab" id="headingUsers" data-toggle="collapse"
                         data-parent="#accordion"
                         data-target="#users" aria-expanded="false" aria-controls="collapseUsers">
                        <h4 class="panel-title">
                            Users
                        </h4>
                    </div>
                    <div id="users" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingUsers">
                        <ul class="media-list list-group">
                            <li ng-repeat="user in users" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-10">
                                        <h4>{{user | displayName}}</h4>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                        <a class="btn btn-danger disabled" title="remove">
                                            <span class="glyphicon glyphicon-remove visible-xs"></span><span
                                                class="hidden-xs">Remove</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- users-panel end -->

                <div class="panel panel-default coupons-panel">
                    <div class="panel-heading" role="tab" id="headingCoupons">
                        <div class="row">
                            <div class="col-xs-11 cursor-pointer" data-toggle="collapse" data-parent="#accordion"
                                 data-target="#coupons" aria-expanded="false" aria-controls="collapseCoupons">
                                <h4 class="panel-title">
                                    Coupons
                                </h4>
                            </div>
                            <div class="col-xs-1">
                                <button ng-show="coupon_dishes.length > 0" class="btn btn-primary" type="button" data-toggle="modal"
                                        data-target="#addCouponModal">Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="coupons" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingCoupons">
                        <ul class="list-group">
                            <li ng-repeat="coupon in coupons" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">{{coupon.dish.name}}</div>
                                    <div class="col-xs-6 col-sm-4">
                                        <span class="pull-right">{{coupon.discount}}</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="pull-right">
                                            <a class="btn btn-danger" ng-click="removeCoupon(coupon)">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- coupons-panel end -->
            </div><!-- panel-group end -->
        </div><!-- col-xs-12 end -->
    </div><!-- row end -->

    <!--modals-->
    <!--This modal is here because of crop issues when moved to ng-include. Maybe some scope issues-->
    <div id="addDishModal" class="modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Dish</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="add-dish-name" class="control-label">Dish name:</label>
                            <input type="text" class="form-control" id="add-dish-name" ng-model="newDish.name">
                        </div>
                        <div class="form-group">
                            <label for="add-dish-price" class="control-label">Dish price:</label>
                            <input type="text" class="form-control" id="add-dish-price" ng-model="newDish.price">
                        </div>
                        <div class="form-group">
                            <div>
                                <div ng-hide="imgSrc" ngf-drop ngf-select
                                     ngf-change="addImages($files)"
                                     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
                                     class="drop-box"
                                     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
                                     ngf-drop-available="dropAvailable">
                                    <div>Click here to select image</div>
                                    <div>
                                        <strong>OR</strong>
                                    </div>
                                    <div ng-show="dropAvailable">You can also drop image to here</div>
                                </div>
                                <div ng-show="imgSrc" class="ng-crop-container">
                                    <h3>Great! Now edit & crop your image...</h3><br/>
                                    <img-crop image="imgSrc" result-image="myCroppedImage"
                                              area-type="square"></img-crop>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addDish(newDish);newDish=''">Add Dish
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--addDishModal end-->
    <div id="addEventModal" class="modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Event</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4"><label for="create-event-date" class="control-label">Event
                                    date:</label></div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="input-group date">
                                        <input type="text" disabled="disabled" id="create-event-date"
                                               class="form-control" ng-model="newEvent.date">

                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary"
                            ng-click="addEvent(newEvent);newEvent=''">Create Event
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- addEventModal end-->
    <div id="addCouponModal" class="modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New Coupon</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="addCoupon(newCoupon);newCoupon=''">
                        <div class="form-group">
                            <label for="add-coupon-select" class="control-label">Select dish to add:</label>
                            <select class="form-control" name="group-select" id="add-coupon-select"
                                    ng-model="newCoupon.dish">
                                <option value="{{ cdish._id }}" ng-repeat="cdish in coupon_dishes">{{ cdish.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="coupon-discount" class="control-label">Coupon
                                discount (percent):</label>
                            <input type="text" class="form-control" id="coupon-discount"
                                   ng-model="newCoupon.discount">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <input type="submit" class="btn btn-primary" value="Add coupon">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- addCouponModal end-->
</div>


